<div class="container">
  <mat-toolbar color="primary">
    <span class="fill-remaining-space"></span>
    <span>Country Details</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>

  <form class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Create Country</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Country Name</mat-label>
                <input matInput />
              </mat-form-field> 
            </td>
          </tr>
        </table>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Continent</mat-label>
                <mat-select>
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                </mat-select>
               
              </mat-form-field>
              
            </td>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Capital City</mat-label>
                <input matInput />
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Currency</mat-label>
                <input matInput />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Phone Code</mat-label>
                <input matInput type="number" />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-card-content>
      <button mat-raised-button color="primary">Primary</button>
    </mat-card>
    
  </form>
  
</div>


