div.container{
    margin: 0px 30px;
}

fill-remaining-space{
    flex: 1 1 auto;
}

.form-container{
    margin-top: 50px;
}

.controls-container{
    width: 100%;
    padding: 5%;
}
.example-full-width {
    width: 98%;
  }